<div class="background-image">
  <div class="nav-container">
    <nav>

      <a href="#">Bakeries</a>
      <a href="#">Recipes</a>
      <span>
        <i class="fas fa-home"></i>
      </span>

      <div class="title-container">
        <h1>Baker's<br> Dozen</h1>
      </div>
      <span>
        <i class="fas fa-lock"></i>
      </span>

      <a href="#">About</a>
      <a href="#">Contact</a>

    </nav>
  </div>
</div>
