<nav>

    <div class="icon">
      <!-- <a href="/bakersdozen"> -->
        <i class="fas fa-home"></i>
      <!-- </a> -->
    </div>
  <div class="title-container">
    <h1>Baker's<br> Dozen</h1>
  </div>
    <div class="icon">
      <% if (currentUser) { %>
      <i class="fas fa-unlock"></i>
    <% } else { %>
      <i class="fas fa-lock"></i>
    <% } %>
    </div>

</nav>
