<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Baker's Dozen</title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="background-image">
      <% include partials/nav.ejs %>
      <div class="input-container">
      <h1>About Baker's Dozen</h1>
      <p>Baker's Dozen is where you can post your favorite baking recipes and also offer them for sale online!</p>

      <p>Whether you are a professional baker or a hobbyist, you can organize your favorite recipes and show them off to your friends.</p>

      <p>Like a baker's dozen, there's a little left over just for the baker in you!</p>
    </div>
  </div>
  </body>
</html>
