<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Baker's Dozen</title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>About Baker's Dozen</h1>
    <p>Baker's Dozen is where you can post your favorite baking recipes and also offer them for sale online!

    Whether you are a professional baker or a hobbyist, you can sell your bakedgoods online or simple share your recipe to our community of bakers.</p>
  </body>
</html>
