<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="title">
      <h1>Bakr's Dozen - Index Page</h1>
      <p>~ A little extra for the baker in you ~</p>
      <ul>
        <% for (let i = 0; i < pastries.length; i++) { %>
            <li>
              <a href="/bakersdozen/<%=pastries[i].id%>"><%=pastries[i].name%></a>
                <div class="edit-delete-btns">
                  <a class="btn" href="/bakersdozen/<%=pastries[i].id%>/edit">Edit</a>
                  <form action="/bakersdozen/<%=pastries[i].id%>?_method=DELETE" method="POST">
                    <input class="btn" type="submit" name="delete" value="Delete">
                  </form>
              </div>
            </li>
        <% } %>
      </ul>
      <a href="/bakersdozen/new">Create New Pastry</a>
    </div>
  </body>
</html>
