<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="title">
      <h1>Bakr's Dozen - Index Page</h1>
      <p>~ A little extra for the baker in you ~</p>

      <a href="/bakersdozen/new">Create New Pastry</a>
    </div>
  </body>
</html>
