<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Pastry - Baker's Dozen</title>
  </head>
  <body>
    <h1>Baker's Dozen</h1>
    <h1>New Route</h1>

    <a href="/bakersdozen">Back to Index Page</a>
  </body>
</html>
