<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Pastry</title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="background-image">
      <% include partials/nav.ejs %>
      <div class="input-container">
        <h1>Create a New Pastry</h1>
        <form class="new-input" action="/bakersdozen" method="POST">
          <label for="name">Name</label>
            <input type="text" name="name">
          <label for="name">Image</label>
            <input type="text" name="img">
          <label for="level">Level</label>
            <input type="text" name="level">
           <label for="time">Total Time</label>
            <input type="text" name="time">
          <label for="yield">Yield</label>
            <input type="text" name="yield">

          <label for="directions">Directions - Step 1</label>
            <input type="text" name="directions1" >
          <label for="directions">Step 2</label>
            <input type="text" name="directions2" >
          <label for="directions">Step 3</label>
            <input type="text" name="directions3" >
          <label for="directions">Step 4</label>
            <input type="text" name="directions4" >
          <label for="directions">Step 5</label>
            <input type="text" name="directions5" >
          <label for="directions">Step 6</label>
            <input type="text" name="directions6" >
            <input class="btn" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
