@import url('https://fonts.googleapis.com/css?family=Cookie|Courgette|Damion|Handlee|Homemade+Apple|Ubuntu');

/************************/
/*** GENERAL ELEMENTS ***/
/************************/
body {
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
  height: 300px;
  border: 1px solid black;
}
li img {
  width: 200px;
  height: 200px;
}
input {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
label {
  margin-top: 1em;
}

/**********************/
/*** Navigation Bar ***/
/**********************/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
nav a {
  color: black;
  background: white;
  opacity: 0.7;
  padding: 0.4em;
  margin: 5px;
  border-radius: 2em;
  font-size: 1.2em;
}
nav a:hover {
  color: black;
  background: whitesmoke;
  opacity: 1.0;
}
.background-image {
  background-image: url("https://www.dahliabakery.com/uploads/_1200xAUTO_fit_center-center/DB_Bakery_50-case-shot-copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.80;
  height: 1000px;
}
.title-container {
  background: whitesmoke;
  border-radius: 8em;
  padding: 0.7em;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-container h1 {
  color: black;
  opacity: 1.0;
  transform: rotate(-10deg);
  font-family: "Homemade Apple", cursive;
  font-size: 1.7em;
  line-height: 1.0;
  text-align: center;
}
span {
  font-size: 1.25em;
  color: whitesmoke;
  margin: 20px;
}
span:hover {
  color: #ffcaeb;
}

/************************/
/*** Buttons & Inputs ***/
/************************/
.btn {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.btn:hover {
  background: #ffcaeb;
}

.edit-delete-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/******************/
/*** Containers ***/
/******************/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 750px;
  max-height: 750px;
  background-color: pink;
  border-radius: 10px;
  margin-top: 50px;
}
.input-container input[type=submit] {
  margin-top: 5px;
  margin-bottom: 5px;
}
textarea {
  display: flex;
  resize: none;
  width: 500px;
  height: 150px;
}
label {
  font-family: 'Ubuntu', sans-serif;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  background: #ffcaeb;
}

/********************************/
/*** Log In, Sign In, Welcome ***/
/********************************/
.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 2em;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding: 1em;
  background: white;
}
.log-in-container h2 {
  background: teal;
  color: whitesmoke;
  width: 200px;
  padding: 10px;
  border-radius: 1em;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}




/******************/
/*** ANIMATIONS ***/
/******************/
