@import url('https://fonts.googleapis.com/css?family=Cookie|Courgette|Damion|Handlee|Homemade+Apple');

/************************/
/*** GENERAL ELEMENTS ***/
/************************/
body {
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
  height: 300px;
  border: 1px solid black;
}
li img {
  width: 200px;
  height: 200px;
}
input {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

/**********************/
/*** NAVIGATION BAR ***/
/**********************/
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
nav a {
  color: white;
  padding: 0.2em;
  margin: 5px;
  border-radius: 2em;
  font-size: 2em;
  font-family: 'Cookie', cursive;
}
nav a:hover {
  color: #ffcaeb;
  background: whitesmoke;
}
.background-image {
  background-image: url("https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1164&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  min-height: 600px;
  position: relative;
}
.title-container {
  background: white;
  border-radius: 5em;
  padding: 2em;
  width: 40px;
  height: 40px;
  text-align: center;
}
.title-container h1 {
  transform: rotate(-10deg);
  font-family: "Homemade Apple", cursive;
  line-height: 1.0;
}
span {
  font-size: 2em;
  color: whitesmoke;
  margin: 20px;
}
span:hover {
  color: #ffcaeb;
}

/************************/
/*** BUTTONS & INPUTS ***/
/************************/
.btn {
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: black;
  border-radius: 1em;
  font-family: 'Courgette', cursive;
  font-size: 12px;
  align-self: center;
}
.edit-delete-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/***************/
/*** CLASSES ***/
/***************/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title {
  color: whitesmoke;
  font-size: 2.5vw;
  text-align: left;
  font-family: 'Homemade Apple', cursive;
  transform: rotate(-10deg);
}


/******************/
/*** ANIMATIONS ***/
/******************/
