@import url('https://fonts.googleapis.com/css?family=Cookie|Courgette|Damion|Handlee|Homemade+Apple|Ubuntu|Poiret+One|Dosis');

/************************/
/*** GENERAL ELEMENTS ***/
/************************/
body {
  margin: 0;
  padding: 0;
}
input {
  display: flex;
  flex-direction: column;
  height: 30px;
  border: 2px solid silver;
  border-radius: 0.5em;
  font-size: 18px;
}
input:hover {
  border: 2px solid teal;
  transition: 0.35s;
}
a {
  text-decoration: none;
  color: teal;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 2em;
}
label {
  margin-top: 1em;
  font-family: 'Dosis', sans-serif;
}
h1{
  color: white;
  font-size: 3em;
  font-family: 'Courgette', cursive;
  text-align: center;
}
p {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 18px;
}

/**********************/
/*** Navigation Bar ***/
/**********************/
nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}
.nav-links {
  color: whitesmoke;
  padding: 0.4em;
  margin: 5px;
  border-radius: 2em;
  font-size: 1.5em;
}
.nav-links:hover {
  color: black;
  background: whitesmoke;
  opacity: 1.0;
  transition: 0.35s;
}
.title-container {
  background: #a8575c;
  border-radius: 8em;
  padding: 0.7em;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-container h1 {
  color: whitesmoke;
  opacity: 1.0;
  transform: rotate(-10deg);
  font-family: "Homemade Apple", cursive;
  font-size: 1.7em;
  line-height: 1.0;
}
.icon {
  font-size: 32px;
  color: whitesmoke;
  margin: 20px;
  transition: 0.35s;
}
.icon:hover {
  color: #a8575c;
  transition: 0.35s;
}

/************************/
/*** Buttons & Inputs ***/
/************************/
.btn {
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  width: 100px;
  color: whitesmoke;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: teal;
  border-radius: 4px;
  border: 2px solid teal;
  cursor: pointer;
  box-sizing: border-box;
  transition: .35s;
}
.btn:hover {
  background: whitesmoke;
  border: 2px solid teal;
  color: teal;
  transition: 0.35s;
}
.edit-delete-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 396px;
  border: 2px solid teal;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: teal;
}
.index-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  margin: 0 auto;
}
.create-btn {
  width: 200px;
}

/******************/
/*** Containers ***/
/******************/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 750px;
  max-height: 1000px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
}
.input-container h1 {
  color: teal;
}
.input-container input[type=submit] {
  margin-top: 5px;
  margin-bottom: 5px;
}
.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 800px;
  max-height: 1000px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
}
.edit-container h1 {
  color: teal;
}
.edit-container input {
  align-items: center;
  text-align: center;
}
.edit-details-container {
  display: flex;
  flex-direction: row;
}
.textarea-container textarea {
  height: 100px;
  font-size: 18px;
}
.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 800px;
  max-height: 750px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  overflow-y: scroll;
}
.show-container h1{
  color: teal;
}
textarea {
  display: flex;
  resize: none;
  width: 500px;
  height: 150px;
  border: 2px solid silver;
  border-radius: 0.5em;
}
textarea:hover {
  border: 2px solid teal;
  transition: 0.35s;
}

/********************************/
/*** Log In, Sign In, Welcome ***/
/********************************/

/* Main Page */
.log-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 2em;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 1em;
  background: whitesmoke;
}
.log-in-container h1 {
  text-align: center;
  color: teal;
}
.log-in-container h2 {
  color: teal;
  width: 200px;
  padding: 10px;
  border-radius: 1em;
  text-align: center;
  font-family: 'Courgette', sans-serif;
  font-size: 2em;
}
.background-image {
  background-image: url("https://www.dahliabakery.com/uploads/_1200xAUTO_fit_center-center/DB_Bakery_50-case-shot-copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.90;
  height: 1200px;
}

/* Main Index After Log In */
.index-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: whitesmoke;
  border-radius: 2em;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  height: 700px;
  width: 900px;
}
.index-container h1 {
  color: white;
}
.header-index {
  background: teal;
  border: 1px solid teal;
  border-radius: 1em;
  padding: 10px;
}
.overflow {
  overflow: scroll;
  height: 450px;
  margin-top: 50px;
}
/* .pastry-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 380px;
  margin-bottom: 50px;
} */
.list {
  height: 380px;
  margin-bottom: 50px;
}
.list a[name=title]{
  width: 396px;
  background: teal;
  color: whitesmoke;
  border: 2px solid teal;
  border-bottom: none;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  text-align: center;
}
.list a[name=title]:hover{
  background: whitesmoke;
  border: 2px solid teal;
  border-bottom: none;
  color: teal;
  transition: 0.35s;
}
/* .pastry-details-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  margin-left: 20px;
  align-self: center;
  border: 2px solid teal;
  border-radius: 1em;
} */
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: auto;
  height: auto;
  margin: 20px;
}
li img {
  width: 400px;
  height: 300px;
}

/* Log in page */
.user-pwd-container {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.user-pwd-container input {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 20px;
}
.user-pwd-container input[type=submit] {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 40px;
}

/*****************/
/*** Show Page ***/
/*****************/
.show-stats-container{
  display: flex;
  flex-direction: column;
}
.show-stats {
  font-family: 'Courgette', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 100px;
}
.stat {

}
.show-container h2, h3 {
  font-family: 'Courgette', sans-serif;
  text-align: left;
  color: teal;
}
.show-container p {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  text-align: left;
}
.show-stats a {
  margin-bottom: 20px;
}

/******************/
/*** Animations ***/
/******************/
.swing-in-top-bck {
	-webkit-animation: swing-in-top-bck 0.6s cubic-bezier(0.9, 0.1, 0.5, 2) both;
	        animation: swing-in-top-bck 0.6s cubic-bezier(0.9, 0.1, 0.5, 2) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-1-30 15:1:15
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
