<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
      <div class="background-image">
        <% include ../partials/nav.ejs %>
        <div class="log-in-container swing-in-top-bck">
          <h1>Log In</h1>
          <div class="user-pwd-container">
            <form action="/sessions" method="POST">
              <label for="username">User Name</label>
                <input type="text" name="username" required>
              <label for="password">Password</label>
                <input id="password" type="password" name="password" required>
              <input class="btn" type="submit"></input>
            </form>
          </div>
        </div>
      </div>
    </body>
</html>
