<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
      <div class="background-image">
        <% include ../partials/nav.ejs %>
        <div class="log-in-container">
          <h1>Log In</h1>
          <div class="row">
            <form action="/sessions" method="POST">
              <div>
                <div>
                  <label for="username">User Name</label>
                  <input placeholder="Placeholder" id="username" type="text" name="username" required>
                </div>
              </div>
              <div>
                <div>
                  <label for="password">Password</label>
                  <input id="password" type="password" name="password" required>
                </div>
              </div>
              <input class="btn" type="submit"></input>
            </form>
          </div>
        </div>
      </div>
    </body>
</html>
